<footer class="navbar navbar-fixed-bottom bg-light" style="position: fixed; bottom: 0;">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <a href="https://www.aratori.net/">Partly Created by Alert @ Aratori.net</a>
      </ul>
    </nav>
  </div>
</footer>
